*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: lightgrey;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }

  .Head-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  
  .Head-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
    font-family: 'Righteous', cursive;
  }
  
  .Head-container > h3 {
    margin-top: 8px;
    color: #fff;
    font-size: 50px;
    font-family: 'Righteous', cursive;
;
  }
  
  
  @media screen and (max-width: 960px) {
    .Head-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .Head-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .Head-container > p {
      font-size: 30px;
    }
  
  }