.navbar {
  background:#0b3b42;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Train One', cursive;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  max-width: 1500px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  color: white;
  align-items: center;
  padding: 0.2rem 1rem;
  height: 10%;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  margin-top: 30%;
  height: 80px;
}


.GroovIn {

  font-family: 'Train One', cursive;
  font-size:90%;
  color:WHITE;
}


.vinyl {
  position: absolute;
  -ms-transform: translate(69px);
  transform: translate(69px);
  top: 60px;
  background: url();
  width: 58px;
  height: 60px;
  border-radius: 60%;
  border: solid transparent;
  border-width: 29px 0px;
  border-left: 0;
  animation: pull-out 5s 5s ease-out forwards, spin 5s 5s linear infinite;
  box-shadow: 0px 0px 3px #EF610A, 0px 0px 0px 10px black, 0px 0px 15px , 0px 0px 0px 16px #000, 0px 0px 0px 17px #9A3D04, 0px 0px 0px 18px, 0px 0px 0px 19px #9A3D04, 0px 0px 0px 20px #000, 0px 0px 0px 21px #3a3838, 0px 0px 0px 22px #000, 0px 0px 0px 23px #2b2a2a, 0px 0px 0px 24px #000, 0px 0px 0px 25px #313030, 0px 0px 0px 26px #000, 0px 0px 0px 27px #313030, 0px 0px 0px 28px #000, 0px 0px 0px 29px #333333, 0px 0px 0px 30px #000, 0px 0px 0px 31px #333232, 0px 0px 0px 32px #000, 0px 0px 0px 33px #4c4a4a, 0px 0px 0px 34px #000, 0px 0px 0px 35px #2f2e2e, 0px 0px 0px 36px #000, 0px 0px 0px 37px #252424, 0px 0px 0px 38px #000, 0px 0px 0px 39px #2f2e2e, 0px 0px 0px 40px #000, 0px 0px 0px 41px #2f2e2e, 0px 0px 0px 42px #000, 0px 0px 0px 55px #2f2e2e, 0px 0px 0px 56px #000, 0px 0px 0px 57px #2f2e2e, 0px 0px 0px 58px #cecece, 0px 0px 0px 59px #2f2e2e;
}

.Vinyl:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background: white;
  top: calc(50% - 3px);
  left: calc(50% - 3px);
  border-radius: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    left: 300px;
  }
  100% {
    transform: rotate(360deg);
    left: 300px;
  }
}

@keyframes pull-out {
  0% {
    transform: translateX(69px);
  }
  100% {
    transform: translateX(300px);
  }
}

.nav-links {
  color :white;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid black;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color:black;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }
/* 
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  } */

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}